.noUi-target {
    height: 0.4rem !important;
}
// .noUi-base {
//     height: 0.2rem !important;
// }
.noUi-connects {
    height: 0.4rem !important;
}

.noUi-connect {
    background-color: $cobalt !important;
}

.noUi-handle {
    border-radius: 1rem !important;
    background-color: $cobalt !important;
    top: -0.5rem !important;
    right: -12px !important;
    width: 1.3rem !important;
    height: 1.3rem !important;
}

.noUi-handle:after {
    height: 0 !important;
}
.noUi-handle:before {
    height: 0 !important;
}

.noUi-tooltip {
    visibility: hidden !important;
}

// .noUi-handle:hover .noUi-tooltip {
//     visibility: visible !important;
// }
