.main {
    background-color: $white-grey;
    height: 50rem;
}
.filter-group {
    max-width: 15rem;
    background-color: $white;
    padding: 0.8rem;
    border-radius: 1rem;
}

.filter-group__title {
    color: $cobalt;
    font-size: 1.4rem;
}

.filter-group-item {
    margin-top: 1rem;
}

// SEARCH
.filter-group__search {
    text-align: center;
}

.filter-group__search-input {
    border-radius: 1rem;
    border: 0.13rem solid $cobalt;
    height: 2rem;
    padding: 0 1rem;
    outline: none;
}

// SORT BY

.sort-by__select {
    background-color: $cobalt;
    color: $white;
    height: 1.8rem;
    width: 8rem;
    outline: none;
}

// MANUFACTURER

.filter-group__brands {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 0.4rem;
}

// IN STOCK AND PRICE

.in-stock__inputs {
    padding-top: 0.5rem;
    color: $cobalt;
}

.price__inputs {
    padding-top: 0.5rem;
    color: $cobalt;
}

.range-slider {
    max-width: 14rem;
}

.range-slider-quantity {
    display: flex;
    justify-content: space-between;
    max-width: 14rem;
    padding-top: 0.5rem;
}

// COLORS

.colors__items {
    display: flex;
    gap: 1rem;
    padding-top: 0.5rem;
}
.color__item {
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: 0.5s;
}
.color__item:hover {
    transform: scale(1.4);
    transition: 0.5s;
}
#red {
    background-color: rgb(170, 33, 33);
}

#yellow {
    background-color: yellow;
}

#blue {
    background-color: $cobalt;
}
#green {
    background-color: green;
}
#black {
    background-color: #000;
}

// TYPE
.control-type__items {
    display: flex;
    flex-direction: row;
    padding-top: 0.4rem;
}

// LEVEL
.person-level__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

// RESET FILTERS

.block {
    text-align: center;
}
.reset-button {
    display: inline-block;
    margin-top: 1rem;
    font-size: 1.5rem;
    padding: 1rem;
}
