.header {
    background-color: blue;
}

.header__container {
    max-width: 75rem;
    margin: 0 auto;
    padding: 0 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
}

.shop-name__logo {
    background-image: url('./assets/svg/logo-horizon-hobby-white.svg');
    background-repeat: no-repeat;
    width: 16rem;
    height: 3rem;
    background-size: 16rem;
}

.header__shopping-cart {
    position: relative;
}

.shopping-cart__image {
    background-image: url('./assets/svg/shopping-cart-svgrepo-com.svg');
    background-repeat: no-repeat;
    width: 4rem;
    height: 3rem;
    filter: invert(100%) sepia(1%) saturate(1179%) hue-rotate(108deg) brightness(117%) contrast(100%);
}

.shopping-cart__items-amount {
    background-color: $primary-yellow;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    left: 0;
    top: 0;
}
